########################
# node.js / npm / bower
########################
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.gz*

pids
logs
results

node_modules
bower_components

npm-debug.log
.nodemonignore

########################
# build artifacts
########################
out
bin
dist
build
.tmp
www
.vagrant

########################
# misc / editors
########################
*~
*#
.DS_STORE
.netbeans
nbproject
.idea
*.iml
*.ipr
*.iws
*.sublime-project
*.sublime-workspace